
@import "./mixins/display.scss";
@import "./mixins/color.scss";
@import "./mixins/typo.scss";
// .container{
//     width: 100%;
//         max-width: 1440px;
//         height: auto;
//         margin: 0 auto;
//         margin-left: 90px;

.header{
    
    width: 100%;
    height: 108px;
    background-color: $yellowLight;
    @include displayFlex();
    box-sizing: border-box;
    padding: 0px 130px 0px 141px;
    &__logo {
        @include displayFlex(center,center);
            width: 167px;
            padding-right: 129px;
            color: $black;
            //@at-root
            font-family: 'Readex Pro';
                font-style: normal;
                font-weight: 600;
                font-size: 24px;
                line-height: 30px;
                &--icon{
                    @include displayFlex();
                }

        }
    
        &__links {
            
            flex-grow: 1;
            @include displayFlex(flex-end , center,37px);
            align-items: center;
            padding-right: 74px;
            *{
                @include title2();
                text-decoration: none;
              color: rgba(29, 29, 29, 0.7);
            }
        }
        &__find{
            padding-right: 32.5px;
        }
        &__buy{
            padding-right: 28px;
        }
        &__sign{
            @include displayFlex();
            width: 122px;
            height: 38px;
            background-color: #FFCB45;
            border-radius: 50px;
            @include button();
            cursor:pointer;
            box-sizing: border-box;
        &:hover{
            background-color: darken(#FFCB45, 10%);
         
        }
        }  
}
 .main {
    display: block;
        display: flex;
     width: 100%;
     height: 601px;
     background-color: $yellowLight;  
     flex-direction: row;

     &__left{
        // display: block;
        @include displayFlex(flex-start,center  );
        width: 47%;
        box-sizing: border-box;
        padding: 176px 124px 67px 130px;
        // box-sizing: border-box;
        // &--area{
        //     width: 480px;
        //         height: 120px;
        // }
        &--title {
            // width: 480px;
            // height: 120px;
            text-transform: capitalize;

                @include display();
                span{
                    color: #FFCB45;
                }
            }
            &--des{
                @include des();
            }
            &--btn{
                @include displayFlex();
                flex-direction: row;
                    width: 122px;
                    height: 38px;
                    background-color: #FFCB45;
                    border-radius: 50px;
                    text-decoration: none;
                    @include button();
                    cursor: pointer;
                    
                    // box-sizing: border-box;
                
                    &:hover {
                        background-color: darken(#FFCB45, 10%);
                
                    }
            }
     } 
     &__right{
        width: 50%;
        float: right;
        display: flex;
        // background-color: #FFCB45;
        padding: 12px 0px 0.2px 0px;
            box-sizing: border-box;
        &--img {
            display: inline-block;
            @include displayFlex(flex-start,flex-start);
                width: 500px;
                height: auto;
                // background-color: red;
               
            }
            &--img2 {
                 margin-top: 249px;
                }
            &--img4 {
                margin-top: 249px;
                    width: 74px;
                    height: 74px;
                    left: 1220px;
                    top: 357px;
                }
            &--img5 {
            margin-top: 32px ;
            position: absolute;
            width: 202px;
            height: 200px;
            left: 810px;
            top: 412px;
            }
            &--img6{
    // margin-top: 339px;
    position: absolute;
    width: 275px;
    height: 261.8px;
    left: 1035px;
    top: 447px;
            }
            &--img7{
                margin-top: 463px;
                width: 41px;
                    height: 41px;
                    left: 734px;
                    top: 571px;
            }
     }
 }

.howit{
    width:1140px;
        height:505px;
        padding: 80px 204px;
        &--title {
            margin: 0;
                @include title3();
                color: $yellowDark;
            }
            &--header {
                @include header();
            }
            &--des{
                margin: 0px;
                    position: absolute;
                    height: 56px;
                    width: 580px;
                    left: 477px;
                    top: 890px;
                   @include displayFlex();
                @include title3();
         
            }
            &__order{
                margin-top: 269px;
                    @include displayFlex(center,center,269px);
                    text-align: center;
            }
}
.menu{
    width: 100%;
    height: auto;
    padding: 80px 124px 56px 124px;
    box-sizing: border-box;
    &__popular{    
      align-items: center;
      justify-content: center;
    &--title {
            @include title3();
            color: $yellowDark;
        }
    &--header{
        @include header();
    }
    &--des{
    
    @include title3();
    }
    
        }
      &__mie--food{
       
        @include displayFlex();
        &__mie{
       }
        }
 
   
         &__headline {
             @include headerLine();
             //styleName: Headline;
             font-family: Readex Pro;
             font-size: 20px;
             font-weight: 500;
             line-height: 25px;
             letter-spacing: 0em;
             text-align: center;
    
         }
    
         &__text {
             @include des();
             text-align: center;
         }
    
         &__price {
             @include des();
             text-align: center;
            img{
                margin-left: 116px;
            }
         }
           &-btn{
            margin-top: 81px;
            margin-left: 528px;
        @include displayFlex();
            width: 122px;
            height: 38px;
            background-color: #FFCB45;
            border-radius: 50px;
            @include button();
            cursor: pointer;
            box-sizing: border-box;
        
            &:hover {
                background-color: darken(#FFCB45, 10%);
        
            }
           }

}
.comment{
    padding-left: 200px;
   
    &__box{
display: flex;
    }
   
   &__box1{
    width: 40%;
   
    &__img3{
        width: 431px;
        height: 187px;
    }
        
   }
    &__box2{
       width: 60%;
       &--title{
        @include title2();
        color: $yellowDark;
       }
       &--des{
        //styleName: Header;
            font-family: Readex Pro;
            font-size: 32px;
            font-weight: 700;
            line-height: 40px;
            letter-spacing: 0em;
            text-align: left;
        width: 440px;
       }
    }
         &__img2 {
            height: 245px;
                width: 245px;
             //  margin: 0px;
             //  padding: 0px;
    
         }
    
         &__img1 {
        height: 245px;
            width: 245px;
    
         }
         &__people{
            display: flex;
         }
         &__people1{
            padding: 28px 20px;
            box-sizing: border-box;
            margin-left: 20px;
            height: 210px;
                width: 452px;
                background-color: $lightDark;
        
         }
         &__one{
            display: flex;
            &--img{
            }
            &--name {
                    margin-left: 20px;
                }
         }
         
         &__start{
            margin-left: 70px;
         }
         &__lorem{
            // height: 69px;
                width: 380px;
                //styleName: body-text;
                    font-family: Readex Pro;
                    font-size: 20px;
                    font-weight: 400;
                    line-height: 23px;
                    letter-spacing: 0em;
                    text-align: left;
         }

}
.discount{
    padding: 80px 130px 0px 130px;
    box-sizing: border-box;
    &__background {
        text-align: center;
        justify-content: center;
        width: 100%;
        height: 332px;
            background-image: url("./public/background.png");
                background-size: cover;
                position: relative;
       
            &--title {
                width: 520px;
                color: rgba(255, 255, 255, 1);
                @include header();
                padding-top: 80px;
                margin-left: 350px;
                text-align: center;
        
            }
       
                 &--btn {
                     @include button();
                     margin-top: 30px;
                     text-align: center;
                     margin-left: 530px;
                 }
        }
               
}
.footer{
    width: 1520px;
    // height: 489px;
    // background-color: red;
    &__foot{
        @include displayFlex(flex-start, flex-start); 
        background-color:$yellowLight ;
        padding: 0px 130px 0px 130px;
    }
    &__food{
        width: 25%;
        margin-right: 30px;
        &--title{
            align-items: center;
            @include letFood();
        }
        &--des{
            width: 280px;
            height: 50px;
        }
        &--img{
          display: flex;
          align-items: center;
        }
    }
    &__company{
        width: 25%;
        &--icon{
            background-image: url("./public/Ellipse\ 4.png");
            width: 38px;
            height: 38px;
            background-size: cover;
        }
                 &--title {
                     @include headerLine2();
                 }
        
        &--des{
            @include body-text();
            
        }
    }
    &__policy{
        width: 25%;
        &--title{
            @include headerLine2();
        }
        &--icon{
            background-image: url("./public/Ellipse\ 7.png");
            width: 66px;
            height: 66px;
            background-size: cover;
            background-repeat: no-repeat;
            align-items: flex-start;
            justify-content: flex-start;
        }
        &--des{
            @include body-text();
        }
    }
    &__touch{
        width: 25%;
        &--title{
            
            @include headerLine2();
        }
        &--des{
            @include body-text();
        }
    }
         &--icon {
             width: 30px;
             height: 125px;
             background-image: url("./public/Ellipse\ 7.png");
             background-size: cover;
             background-repeat: no-repeat;
             padding-right: 100px;
                     }
                    
        &--line{
            width: 1180px;
            height: 2px;
            background-color: black;
            margin-left: 140px;
        }
        &--box3{
            font-family: Readex Pro;
                font-size: 16px;
                font-weight: 400;
                line-height: 20px;
                letter-spacing: 0em;
                text-align: left;
            margin-top: 40px;
           margin-left: 580px;
        }

}

   
   


               